@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1639406113464') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-15tianwuliyoutuihuo:before {
  content: "\e606";
}

.icon-liwuhuodong:before {
  content: "\f01da";
}

.icon-7:before {
  content: "\e633";
}

.icon-map:before {
  content: "\e699";
}

.icon-7tianwuliyoutuihuo:before {
  content: "\e60e";
}

.icon-71:before {
  content: "\e600";
}

.icon-buoumaotubiao46:before {
  content: "\e629";
}

.icon-sousuo:before {
  content: "\e622";
}

.icon-gouwuche:before {
  content: "\e70b";
}

.icon-jiantou_xiangyou:before {
  content: "\eb08";
}

.icon-youjiantou:before {
  content: "\e61a";
}

.icon-fangxiang-xiangzuo:before {
  content: "\e614";
}

.icon-fangxiang-xiangyou:before {
  content: "\e615";
}

.icon-bofang:before {
  content: "\e60a";
}

.icon-sanjiaoxing:before {
  content: "\e649";
}

.icon-bofang1:before {
  content: "\e881";
}

