/* 头部条 */
.header{
  width: 100%;
  height: 40px;
  background-color: #333;
  line-height: 40px;
  color: #b0b0b0;
  font-size: 12px;
  }
  .wrap{
    width:1226px;
    margin: 0 auto;
  }
  .header-left{
    float: left;
  }
  .header-right{
    float: right;
  }
  .header-right img{
    width: 20px;
    margin-right: 4px;
  }
  .header li{
    position: relative;
    float: left;
  }
  .header a{
    color: #b0b0b0;
  }
  .header span{
    color: #424242;
    margin: 0 3.6px;
  }
  .header a:hover{
    color: white;
  }
  .cart{
    position: relative;
    margin-left: 25px;
  width: 120px;
  height: 40px;
  background-color: #424242;
  cursor: pointer;
  transition: all .2s ;
  }
  .cart:hover{
    background-color: #fff;

  }
  .cart:hover > a{
    color: #ff6700;
  }
  .cart-list{
    z-index: 850;
    top:40px;
    right: 0;
    position: absolute;
    width: 316px;
    height: 100px;
    box-shadow: 0 2px 10px rgb(0,0,0,.15);
    background-color: white;
    line-height: 100px;
    display: none;
    transition: height 0.3s;

  }
  .cart:hover>.cart-list{
    display: block;
  }
/* 下载APP部分 */
.download{
  position: absolute;
  top: 40px;
  left: 50%;
  margin-left:-62px;
  width: 124px;
  height: 0;
  z-index: 900;

  background-color: #fff;
  box-shadow: 0 1px 5px #ccc;
  overflow: hidden;
  transition: all .3s;
}
.download img{
  width: 90px;
  margin: 18px 0 12px;
}
.download p{
  color:#333 ;
  font-size: 14px;
  line-height: 14px;
}
.header-left > li:hover .download{
  height: 148px;
}
/* 头部样式结束 */

/* 导航样式开始 */
.nav{
  width: 100%;
  height: 100px;
  color: white;
  position: relative;
}
.logo{
  width: 62px;
  height: 56px;
  background-color: transparent;
  float: left;
  margin-top: 22px;
  text-align: left;
}
.search{
  position: relative;
  width: 296px;
  height: 50px;
  float: left;
  margin-top: 25px;



}
.nav-bar{

  width: 868px;
  height: 100px;
  xbackground-color: chartreuse;
  float: left;
  padding-left: 172px;
  box-sizing: border-box;
}
.logo img{
  width: 56px;
}
.nav-bar > ul > li{
  float: left;
  padding: 38px 10px;
}
a{
color: #333;
}
.nav-bar > ul > li:hover a{
  color:#ff6700;
}
.nav-bar>ul>li>a:hover{
  color: #ff6700;
}
.search>input{
  float: left;
  width: 245px;
  height: 50px;
  border:1px solid #e0e0e0;
  padding: 0 10px;
  box-sizing: border-box;
  border-right: none;
  outline: none;
  transition: all .2s;
}
.search > a{
  float: left;
  width: 50px;
  height: 50px;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  font-size: 24px;
  color: #616161;
  line-height: 48px;
  transition: all .2s;
}
.search > a:hover{
  background-color: #ff6700;
  border-color: #ff6700;
  color:#fff;
}
.search>input:hover,.search>input:hover+a{
  border-color: #b0b0b0;
}
.search>input:focus,.search>input:focus+a{
  border-color: #ff6700;
}
/* 下拉列表 */
.nav-bar-list{
  z-index: 850;
  position: absolute;
  left: 0;
  top: 100px;
  width: 100%;
  height: 220px;
  background-color: #fff;
  border-top: 1px solid #e0e0e0;
  box-shadow: 0 3px 4px rgba(0,0,0,.18);
  display: none;
}
.nav-bar li:hover>.nav-bar-list{
  display: block;
}
/* 下拉列表的内容部分 */
.nav-bar-list li{
  float: left;
  width: 204px;
  padding-top: 35px;
}
.nav-img-box{
  width: 100%;
  height: 110px;
  border-right: 1px solid #e0e0e0;
  box-sizing: border-box;
  margin-bottom: 15px;
}
.nav-bar-list p{
  font-size: 12px;
  line-height: 20px;
}
.nav-bar-list p:nth-of-type(2){
color: #ff6700;
}
/* 下拉列表结束 */
/* 搜索框 */
.search-list{
  z-index:800 ;
  position: absolute;
  width: 246px;
  height: 241px;
  border: 1px solid #ff4700;
  border-top:none ;
  box-sizing: border-box;
  background-color: #fff;
  top: 50px;
  left: 0;
  display: none;
}
.search>input:focus~.search-list{
  display: block;
}
.search-list>a{
  width: 243px;
  height: 30px;
  padding: 6px 15px;
  display: block;
  box-sizing: border-box;
  color: #424242;
  font-size: 12px;
  text-align: left;
}
/* 导航样式结束 */

/* banner样式开始 */

/* 轮播图 */
.banner{
  width: 100%;
  height: 460px;
  xbackground-color: #ff6700;
}
.banner-box{
  width: 1226px;
  height: 460px;
  xbackground-color: blue;
  xbackground-image: url("../images/78d0483ed36158659fcf65a19a9b249a.jpeg");
  background-size: 100%;
  animation: banner 6s linear infinite;

}
.slider-box {
  width: 1226px;
  height: 460px;
  position: relative;
}
.slider-box input {
  display: none;
}
.slider-box input:nth-child(1):checked ~ .sliders .slider:nth-child(1) img,
.slider-box input:nth-child(2):checked ~ .sliders .slider:nth-child(2) img,
.slider-box input:nth-child(3):checked ~ .sliders .slider:nth-child(3) img,
.slider-box input:nth-child(4):checked ~ .sliders .slider:nth-child(4) img,
.slider-box input:nth-child(5):checked ~ .sliders .slider:nth-child(5) img {
  opacity: 1;
}
.slider-box input:nth-child(1):checked ~ .sliders .slider:nth-child(1) label,
.slider-box input:nth-child(2):checked ~ .sliders .slider:nth-child(2) label,
.slider-box input:nth-child(3):checked ~ .sliders .slider:nth-child(3) label,
.slider-box input:nth-child(4):checked ~ .sliders .slider:nth-child(4) label,
.slider-box input:nth-child(5):checked ~ .sliders .slider:nth-child(5) label {
  z-index: 9;
  display: block;
}
.slider-box input:nth-child(1):checked ~ .indicators label:nth-child(1),
.slider-box input:nth-child(2):checked ~ .indicators label:nth-child(2),
.slider-box input:nth-child(3):checked ~ .indicators label:nth-child(3),
.slider-box input:nth-child(4):checked ~ .indicators label:nth-child(4),
.slider-box input:nth-child(5):checked ~ .indicators label:nth-child(5)  {
  background-color:hsla(0, 0%, 100%, .3) ;
  border-color: rgba(0, 0, 0, .4);
}
.slider-box .sliders {
  height: 100%;
  position: relative;
}
.slider-box .sliders .slider {
  height: 100%;
  width: 100%;
  position: absolute;
}
.slider-box .sliders .slider label {
  xbackground-color: violet;
  cursor: pointer;
  display: none;
  position: absolute;
  line-height: 70px;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 70px;
}
.slider-box .sliders .slider label i{
  font-size: 45px;
  color: #ccc;
  font-weight: bold;
}
.slider-box .sliders .slider label:hover  {
  background-color: rgb(65, 64, 64)
}
.slider-box .sliders .slider label:hover i {
  color: rgb(255, 255, 255);

}
.slider-box .sliders .slider label:first-child {
  left: 234px;
  border-radius: 0 5px 5px 0;
}
.slider-box .sliders .slider label:nth-child(2) {
  right: 0;
  border-radius: 5px 0 0 5px;
}
.slider-box .sliders .slider img {
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 1s;
}
.slider-box .indicators {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.slider-box .indicators label {
  float: left;
  margin: 3px;
  width: 6px;
  height: 6px;
  border: 2px solid #fff;
  border-color:hsla(0, 0%, 100%, .3) ;
 background-color: rgba(0, 0, 0, .4);
  display: inline-block;
  border-radius: 999px;
  cursor: pointer;
}
.slider-box .indicators label:hover {
  background:hsla(0, 0%, 100%, .4);
  border-color: rgba(0, 0, 0, .4);
}
/* 滑动门 */
.banner>.wrap{
  position: relative;
}
.slide{
  position: absolute;

  left: 0;
  top: 0;

  width: 234px;
  height: 420px;
  padding: 20px 0;
  background-color:rgba(105, 101, 101, 0.6) ;
}
.slide>ul>li{
  height: 42px;
  line-height: 42px;
  text-align: left;
  padding-left: 30px;
}
.slide>ul>li:hover{
  background-color: #ff6700;
}
.slide>ul>li>a{
  color:#fff;
  font-size: 14px;
}
.slide ul li span{
  float:right;
  margin-right: 20px;
  font-size: 20px;
}
.slide-list{
  position: absolute;
  width: 992px;
  height: 456px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-left: none;
  box-shadow: 10 8px 16px rgba(0,0,0,.18);
  top: 0;
  left: 234px;
  padding-top: 2px;
  display: none;
}
.slide li:hover>.slide-list{
  display: block;
}
.slide-list>ul{
  width: 248px;
  float: left;
}
.slide-list li{
  width: 100%;
  height: 76px;
  xbackground-color: red;
  padding: 20px 0 20px 18px;
  box-sizing: border-box;
}
.slide-list img{
  margin-right: 12px;
}
.slide-list .span1{
  font-size: 14px;
  padding-right: 70px;
  box-sizing: border-box;
 xbackground-color:red;
}
/* banner样式结束 */

/* 广告样式开始 */
.adv{
  width: 100%;
  height: 170px;
  background-color: #fff;
  margin: 14px 0 26px;
  /* 上为14 左右为零 下为26 */
}
.adv-aside{
  float: left;
  width: 228px;
  height:164px;
  padding:3px;
  background-color: #5f5750;

}
.adv-img{
  float: left;
  width: 316px;
  height: 170px;
 background-color: red;
 margin-left: 14.66px;
 transition: all .2s linear;
}
.adv-img:hover{
  box-shadow: 0 15px 30px rgba(0,0,0,.1);

}
.adv-img img{
  width: 100%;
}
.adv-aside li{
  position: relative;
  float: left;
  width: 76px;
  height: 82px;
}
.adv-aside a{
  display: block;
  color: #fff;
  opacity: .7;
  font-size: 12px;
  transition: .2s;
}
.adv-aside i{
  font-size: 23px;
  /* 行内元素设置上下margin不生效 */
  display: block;
  margin-bottom: 4px;
  margin-top: 18px;
}
.row::after{
  position: absolute;
  content:"" ;
  width: 64px;
  height: 1px;
  background-color: #665e57;
  bottom: 0;
  left: 6px;
  right: 0;
}
.col::before{
  position: absolute;
  content: "";
  width: 1px;
  height: 70px;
  background-color: #665e57;
  right: 0;
  top: 6px;
}
.adv-aside img{
  display: block;
  width: 24px;
  height: 24px;
  margin: 0 auto 4px;
  margin-top: 15px;
}
.adv-aside ul li p{
  opacity: .6;
  transition: all .2s;
}
.adv-aside ul li:hover p{
  opacity: 1;
  xcolor: palevioletred;
}
/* 广告样式结束 */


/* 手机样式开始 */
.home-banner-box{
  width: 100%;
  height: 120px;
  xbackground-color: rgb(255, 60, 0);
  margin: 22px 0;;
}
.title{
  color: #333;
  font-size: 22px;
  font-weight: 200;
  text-align: left;
  line-height: 58px;
}
.more{
  float: right;
  color:#424242;
  font-size: 16px;
  transition: all .4s;
}
.more > i{
  display: inline-block;
  width: 20px;
  height: 22px;
  background-color:#b0b0b0 ;
  border-radius: 50%;
  text-align: center;
  line-height: 22px;
  color: #fff;
  font-size: 12px;
  transition: all .4s;
}
.more:hover{
  color: #ff6700;
}
.more:hover>i{
  background-color: #ff6700;
}
.phone-box{
 width: 100%;
 height: 614px;
 xbackground-color: red;
}
.phone-box-left{
  float: left;
  width: 234px;
  height: 614px;
  xbackground-color: pink;
  transition: all .2s initial;
}
.phone-box-right{
  float: left;
  width: 992px;
  height: 614px;
  xbackground-color: rgb(151, 255, 241);
}
.items{
  float: left;
  width: 234px;
  height: 300px;
  background-color: #fff;
  margin-bottom: 14px;
  margin-left: 14px;
  transition: all .2s initial;
}
.items:hover,.phone-box-left:hover{
  transform:translateY(-2px);
  /* 往上走两像素 */
  box-shadow: 0 15px 30px rgba(0,0,0,.1);
}
.goods-img{
  width: 160px;
  margin-top: 20px;
  margin-bottom: 18px;
}/* 商品图 */
.goods-name{
  width: 214px;
  height: 21px;
  xbackground-color: red;
  margin: 0 auto;
  margin-bottom: 2px;
  font-size: 14px;
  white-space:nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.goods-desc{
  width: 214px;
  height: 18px;
  margin: 0 auto;
  margin-bottom: 10px;
  font-size: 12px;
  color: #b0b0b0;
  white-space:nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.goods-price{
  color: #ff6700;
  font-size: 14px;
}
/* 手机样式结束 */

/* 主体样式开始 */
.container{
  width: 100%;
  background-color: #f5f5f5;
  padding: 4px 0 12px;
  overflow: hidden;
/* 自动找高 */
}

/* 智能穿戴样式开始 */

.intell-title-left h2{
  color: #333;
  font-size: 22px;
  font-weight: 200;
  text-align: left;
  line-height: 58px;
}
.intell{
  width: 1226px;
  height: 614px;
  xbackground-color: orchid;
  position: relative;
}
.intell-title-left{
position: absolute;
left: 0;
}
/* 智能穿戴样式结束 */

/* 家电样式开始 */
.jiadian{
  margin-top: 80px;
}
.remens1 li{
  width: 234px;
  height: 300px;
  float: left;
  background-color: rgb(255, 255, 255);
  margin-left: 14px;
  margin-bottom: 14px;
}


.dianshi1 li{
  width: 234px;
  height: 300px;
  float: left;
  background-color: rgb(255, 255, 255);
  margin-left: 14px;
  margin-bottom: 14px;
  xdisplay: none;
}

.more-right1 > ul{
  display: block;
  margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.more-right1 > ul > li{
  margin-left: 20px;
  margin-top: 20px;
}
.title-left1 h2{
  color: #333;
  font-size: 22px;
  font-weight: 200;
  text-align: left;
  line-height: 58px;
}
.jiadian{
  width: 1226px;
  height: 614px;
  xbackground-color: orchid;
  position: relative;
}
.title-left1{
  position: absolute;
  left: 0;
  }
  .more-right1 > ul >li{
    float: right;
  }
  .more-right1 .remens ul{
    position: absolute;
    left: 234px;
    top: 58px;
    }
    .more-right1 .dianshi ul{
      position: absolute;
    left: 234px;
    top: 58px;
    }
    .more-right1 > ul > li:hover{
      color: #ff6700;
      border-bottom: 2px solid #ff6700;
    }

    .more-right1 > ul:hover div{
      visibility: hidden;
      transition: none;
    }
    .more-right1 > ul > li:first-child div{
      visibility: visible;
    }
    .more-right1 > ul > li:hover div{
      visibility: visible;
      transition: none;;
    }
    .more-right1 div{
      visibility: hidden;
      transition: 0s  99999s;
    }
    .images:hover{
      transform:translateY(-2px);
       box-shadow: 0 15px 30px rgba(0,0,0,.2);
    }
    .remens1 li:hover,.dianshi1 li:hover{
      transform:translateY(-2px);
       box-shadow: 0 15px 30px rgba(0,0,0,.2);
    }


    .title-left1 .images1 div:nth-child(1){
      margin-bottom: 14px;
    }

   .title-left1 .images1 div:hover{
    transform:translateY(-2px);
    /* 往上走两像素 */
    box-shadow: 0 15px 30px rgba(0,0,0,.1);
    }
/* 家电样式结束 */

/* 生活电器开始 */
.life{
  margin-top: 80px;
  width: 1226px;
  height: 614px;
  xbackground-color: orchid;
  position: relative;
  overflow: hidden;
}
.life-title-left{
  position: absolute;
  left: 0;
}
.life-title-left .life-images div:nth-child(1){
  margin-bottom: 14px;
}

.sdj li{
  width: 234px;
  height: 300px;
  float: left;
  background-color: rgb(255, 255, 255);
  margin-left: 14px;
  margin-bottom: 14px;
}
.kj li,
.qj li,
.fs li
{
  width: 234px;
  height: 300px;
  float: left;
  background-color: rgb(255, 255, 255);
  margin-left: 14px;
  margin-bottom: 14px;


}

.sdj ul,
.qj ul,
.fs ul,
.kj ul
{
  position: absolute;
  left: 234px;
  top: 58px;
  }
  .life-title-left h2{
    color: #333;
    font-size: 22px;
    font-weight: 200;
    text-align: left;
    line-height: 58px;
  }
  .life-more-right > ul >li{
    float: right;
  }
  .life-more-right > ul > li:hover{
    color: #ff6700;
    border-bottom: 2px solid #ff6700;
  }
  .life-more-right > ul > li{
    margin-left: 20px;
    margin-top: 10px;
  }
  .life-more-right > ul{
    display: block;
    margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      padding-inline-start: 40px;
  }
  .life-images div:hover{
    transform:translateY(-2px);
     box-shadow: 0 15px 30px rgba(0,0,0,.2);
  }
  .sdj li:hover,
  .sj li:hover,
  .kj li:hover,
  .qj li:hover
  {
    transform:translateY(-2px);
     box-shadow: 0 15px 30px rgba(0,0,0,.2);
  }

  .life-more-right > ul:hover div{
    visibility: hidden;
    transition: none;
  }
  .life-more-right > ul > li:first-child div{
    visibility: visible;
  }
  .life-more-right > ul > li:hover div{
    visibility: visible;
    transition: none;;
  }
  .life-more-right div{
    visibility: hidden;
    transition: 0s  99999s;
  }

/* 生活电器结束 */

/* 厨房电器开始 */
.kit{
  margin-top: 14px;
  width: 1226px;
  height: 614px;
  position: relative;
  overflow: hidden;
}
.kit-title-left{
  position: absolute;
  left: 0;
}
.kit-title-left .kit-images div:nth-child(1){
  margin-bottom: 14px;
}

.jsq li{
  width: 234px;
  height: 300px;
  float: left;
  background-color: rgb(255, 255, 255);
  margin-left: 14px;
  margin-bottom: 14px;
}
.yz li,
.dfb li,
.wzk li
{
  width: 234px;
  height: 300px;
  float: left;
  background-color: rgb(255, 255, 255);
  margin-left: 14px;
  margin-bottom: 14px;
  xdisplay: none;
}

.jsq ul,
.yz ul,
.dfb ul,
.wzk ul
{
  position: absolute;
  left: 234px;
  top: 58px;
  }
  .kit-title-left h2{
    color: #333;
    font-size: 22px;
    font-weight: 200;
    text-align: left;
    line-height: 58px;
  }
  .kit-more-right > ul >li{
    float: right;

  }
  .kit-more-right > ul > li:hover{
    color: #ff6700;
    border-bottom: 2px solid #ff6700;
  }
  .kit-more-right > ul > li{
    margin-left: 20px;
    margin-top: 10px;
  }
  .kit-more-right > ul{
    display: block;
    margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      padding-inline-start: 40px;
  }
  .kit-images div:hover{
    transform:translateY(-2px);
     box-shadow: 0 15px 30px rgba(0,0,0,.2);
  }
  .jsq li:hover,
  .yz li:hover,
  .dfb li:hover,
  .wzk li:hover
  {
    transform:translateY(-2px);
     box-shadow: 0 15px 30px rgba(0,0,0,.2);
  }

  .kit-more-right > ul:hover div{
    visibility: hidden;
    transition: none;
  }
  .kit-more-right > ul > li:first-child div{
    visibility: visible;
  }
  .kit-more-right > ul > li:hover div{
    visibility: visible;
    transition: none;;
  }
  .kit-more-right div{
    visibility: hidden;
    transition: 0s  99999s;
  }

/* 厨房电器结束 */

/* 智能家居开始 */
.furnit{
  position: relative;
  margin-top: 14px;
  width: 1226px;
  height: 614px;
}
.furnit-title-left{
  position: absolute;
  left: 0;
}
.furnit-title-left .furnit-images div:nth-child(1){
  margin-bottom: 14px;
}
.xiaoai li{
  width: 234px;
  height: 300px;
  float: left;
  background-color: rgb(255, 255, 255);
  margin-left: 14px;
  margin-bottom: 14px;
}
.mensuo li,
.luyouqi li,
.zhinengshebei li
{
  width: 234px;
  height: 300px;
  float: left;
  background-color: rgb(255, 255, 255);
  margin-left: 14px;
  margin-bottom: 14px;
}
.xiaoai ul,
.mensuo ul,
.luyouqi ul,
.zhinengshebei ul
{
  position: absolute;
  left: 234px;
  top: 58px;
  }
  .furnit-more-right > ul >li{
    float: right;
  }
  .furnit-title-left h2{
    color: #333;
    font-size: 22px;
    font-weight: 200;
    text-align: left;
    line-height: 58px;
  }
  .furnit-more-right > ul >li:hover{
    color: #ff6700;
    border-bottom: 2px solid #ff6700;
  }
  .furnit-more-right > ul >li{
    margin-left: 20px;
    margin-top: 20px;
  }
  .furnit-more-right > ul{
    display: block;
    margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      padding-inline-start: 40px;
  }
  .furnit-images div:hover{
    transform:translateY(-2px);
     box-shadow: 0 15px 30px rgba(0,0,0,.2);
  }
  .xiaoai li:hover,
  .mensuo li:hover,
  .luyouqi li:hover,
  .zhinengshebei li:hover
  {
    transform:translateY(-2px);
     box-shadow: 0 15px 30px rgba(0,0,0,.2);
  }
  .furnit-more-right > ul:hover div{
    visibility: hidden;
    transition: none;
  }
  .furnit-more-right > ul > li:first-child div{
    visibility: visible;
  }
  .furnit-more-right > ul > li:hover div{
    visibility: visible;
    transition: none;;
  }
  .furnit-more-right div{
    visibility: hidden;
    transition: 0s  99999s;
  }
  .yundong{
    position: relative;
    margin-top: 80px;
    width: 1226px;
    height: 614px;
  }
.riyongbaihuo{
  position: relative;
  margin-top: 80px;
  width: 1226px;
  height: 614px;
}

/* 智能家居结束 */
/* 运动出行开始 */
/* 运动出行结束 */



/* 视频开始 */
.video{
  margin-top: 50px;
}
.video-box li{
  width: 296px;
  height: 285px;
  xbackground-color: red;
  float: left;
  margin-bottom: 14px;
  margin-left: 14px;
  transition: all .2s;
}
.video-box li:first-child{
  margin-left: 0;
}
.video-img img{
  width: 100%;
  height: 180px;
  background-color: aqua;
}
.video-img{
  position: relative;
}
.video-name{
  width: 268px;
  height: 21px;
  margin: 28px auto 6px;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}
.play{
  position: absolute;
  width: 36px;
  height: 24px;
  border: 2px solid #fff;
  box-sizing: border-box;
  border-radius: 12px;
  left: 20px;
  bottom: 10px;
  background-color: rgb(61, 76, 89);
  transition: all .2s;
}
.play > div {
  width: 0;
  height: 0;
  border-left: 8px solid #fff;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  margin: 0 auto;
  margin-top: 5px;
}
.video-img:hover>.play{

}
.video-box li:hover{
  transform:translateY(-2px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, .1)
}


/* 尾部 */

.footer{
  background-color: #fff;
}
.footer-server{
  width: 100%;
  height: 25px;
  padding: 27px 0;
  border-bottom: 1px solid #e0e0e0;
}
.footer-server li{
  float: left;
  width: 19.8%;
  border-right: 1px solid #e0e0e0;
}
.footer-server li:last-child{
  border-right: 0;
}
.footer-server a:hover{
  color: #ff6700;
}
.footer-server i{
  font-size: 24px;
  margin-right: 6px;
}
.footer-links{
  width: 100%;
  height: 172.5px;
  padding: 40px 0;
}
.footer-links > ul{
  float: left;
  width: 160px;
  text-align: left;
}
.footer-links li a{
  color: #757575;
  font-size: 12px;
}
.footer-links li{
  margin-top: 10px;
}
.footer-links li:first-child{
  line-height: 1.25;
  margin: -1px 0 26px;
}
.footer-links a:hover{
  color: #ff6700;
}
.contact{
  float: right;
  width: 251px;
  height: 111px;
  border-left: 1px solid #e0e0e0;
}
.tel{
  font-size: 22px;
  line-height: 1;
  color: #ff6700;
  margin-bottom: 5px;
}
.time{
  font-size: 12px;
  color: #616161;
  margin-bottom: 5px;
}
.kf{
  display: block;
  margin: 0 auto;
  width: 118px;
  height: 28px;
  border: 1px solid #f25807;
  font-size: 12px;
  color: #ff6700;
  line-height: 28px;
  transition: all .4s;
}
.kf:hover{
  background-color:#f25807 ;
  color: white;

}
.follow{
  color: #616161;
  font-size: 12px;
  margin-top: 10px;
  position: relative;
}
.follow > span{
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 6px;
xbackground-color: tomato;
}
.follow > span > img{
  width: 100%;
}
.wx-img{
  position: absolute;
  top: 20px;
  left: 100px;
  width: 126px;
  display: none;
  transition: all .2s;
}
.wx:hover + .wx-img{
  display: block;
}
/* 视频结束 */

/* 尾部开始 */
.footer-info{
  height: 286px;
  padding: 30px 0;
}
.info-top{
  width: 100%;
  height: 157px;
  xbackground: red;
}
.info-bottom{
  width: 100%;
  height: 19px;
  margin-top: 30px;
  margin: 30px auto 0;
  display: block;
  text-align: left;
  text-indent: -99999em;
  background: url(https://cdn.cnbj1.fds.api.mi-img.com/staticsfile/global/slogan2020.png) no-repeat center 0;
}
.info-top>img,.info-right{
  float: left;
}
.info-top > img{
  width: 56px;
  margin-right: 10px;
}
.info-right{
width: 1160px;
text-align: left;
font-size: 12px;
line-height: 18px;
}
.info-right > p{
  color: #b0b0b0;
}
.info-right > p:first-child > a{
  color: #757575;
}
.info-right > p:nth-child(2) > a{
  color: #b0b0b0;
}
.info-right > p > a:hover{
  color: #ff6700;
}
.info-bottom{
  clear: both;
}
.info-bottom img{
  margin-top: 30px;
}
.info-right p:nth-child(3) img{
 height: 33px;
}
/* 尾部结束 */
