/* 导航样式开始 */
.nav{
  width: 100%;
  height: 100px;
  color: white;
  position: relative;
}
.logo{
  width: 62px;
  height: 56px;
  background-color: transparent;
  float: left;
  margin-top: 22px;
  text-align: left;
}
.search{
  position: relative;
  width: 296px;
  height: 50px;
  float: left;
  margin-top: 25px;



}
.nav-bar{

  width: 868px;
  height: 100px;
  xbackground-color: chartreuse;
  float: left;
  padding-left: 172px;
  box-sizing: border-box;
}
.logo img{
  width: 56px;
}
.nav-bar > ul > li{
  float: left;
  padding: 38px 10px;
}
a{
color: #333;
}
.nav-bar > ul > li:hover a{
  color:#ff6700;
}
.nav-bar>ul>li>a:hover{
  color: #ff6700;
}
.search>input{
  float: left;
  width: 245px;
  height: 50px;
  border:1px solid #e0e0e0;
  padding: 0 10px;
  box-sizing: border-box;
  border-right: none;
  outline: none;
  transition: all .2s;
}
.search > a{
  float: left;
  width: 50px;
  height: 50px;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  font-size: 24px;
  color: #616161;
  line-height: 48px;
  transition: all .2s;
}
.search > a:hover{
  background-color: #ff6700;
  border-color: #ff6700;
  color:#fff;
}
.search>input:hover,.search>input:hover+a{
  border-color: #b0b0b0;
}
.search>input:focus,.search>input:focus+a{
  border-color: #ff6700;
}
/* 下拉列表 */
.nav-bar-list{
  z-index: 850;
  position: absolute;
  left: 0;
  top: 100px;
  width: 100%;
  height: 220px;
  background-color: #fff;
  border-top: 1px solid #e0e0e0;
  box-shadow: 0 3px 4px rgba(0,0,0,.18);
  display: none;
}
.nav-bar li:hover>.nav-bar-list{
  display: block;
}
/* 下拉列表的内容部分 */
.nav-bar-list li{
  float: left;
  width: 204px;
  padding-top: 35px;
}
.nav-img-box{
  width: 100%;
  height: 110px;
  border-right: 1px solid #e0e0e0;
  box-sizing: border-box;
  margin-bottom: 15px;
}
.nav-bar-list p{
  font-size: 12px;
  line-height: 20px;
}
.nav-bar-list p:nth-of-type(2){
color: #ff6700;
}
/* 下拉列表结束 */
/* 搜索框 */
.search-list{
  z-index:800 ;
  position: absolute;
  width: 246px;
  height: 241px;
  border: 1px solid #ff4700;
  border-top:none ;
  box-sizing: border-box;
  background-color: #fff;
  top: 50px;
  left: 0;
  display: none;
}
.search>input:focus~.search-list{
  display: block;
}
.search-list>a{
  width: 243px;
  height: 30px;
  padding: 6px 15px;
  display: block;
  box-sizing: border-box;
  color: #424242;
  font-size: 12px;
  text-align: left;
}
/* 导航样式结束 */
